body {
    margin: 0;
    box-sizing: border-box;
    background-color: #1c1c1c;
    font-family: "Inter", sans-serif;
    color: white;
}


.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./images/ticket-header.jpg");
    background-size: cover;
    background-position: center;
    height: 11rem;
    position: relative;
}

.header-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-left: 3rem;
    padding-right: 1rem;
}

.header-text a {
    text-decoration: none;
    color: white;
}

.search-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    bottom: -1rem;
    height: 2.5rem;
}

.search {
    flex: 1;
    border: none;
    outline: none;
    background-color: #2E2E2F;
    color: white;
    padding: 0.5rem;
    width: 17rem;
}

.search-button {
    border-left: 1px solid #5d5757;
    border-top: none;
    border-right: none;
    border-bottom: none;
    width: 6.25rem;
    color: white;
    background-color: #2E2E2F;
    border-radius: 0 .5rem .5rem 0;
}

.search-form {
    display: flex;
    align-items: center;
    background-color: #2E2E2F;
    padding-left: 0.5rem;
    border-radius: 0.5rem 0 0 0.5rem;
}

main {
    padding-top: 3rem;
    margin: 0 auto;
    padding-left: 3rem;
    padding-right: 3rem;
}

.empty-placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    color: #3a3a3a;
    font-weight: bold;
}

.film-icon {
    width: 4rem;
    height: 4rem;
}

.movie-card {
    display: flex;
    gap: 1.25rem;
    border-bottom: 1px solid #817c7c;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.poster {
    width: 9.35rem;
    flex-shrink: 0;
    height: 12.5rem;
    align-self: center;
}

.movie-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.movie-heading, .movie-meta-data {
    margin: 0;
}

.movie-rating {
    font-size: .85rem;
    vertical-align: middle;
}

.movie-title {
    font-size: 1.5rem;
    margin-bottom: .1rem
}

.movie-meta-data {
    display: flex;
    font-size: .85rem;
    align-items: center;
    gap: 2rem;
}

.add-watchlist, .remove-watchlist {
    font-size: .75rem;
    display: inline-flex;
    align-items: center;
    gap: .25rem;
    background: none;
    color: white;
    border: none;
}

.add-watchlist:hover , .remove-watchlist:hover {
    cursor: pointer;
}

.add-watchlist:active , .remove-watchlist:active {
    transform: scale(0.98);
}

.add-movies {
    text-decoration: none;
    color: #9a9999;
}